#conceptmap-table {
  font-size: 120%;
  width: 100%;
}

.conceptmap-width {
  width: 100%;
  display: block;
}

.conceptmap_entries {
  width: 100%;
}

.conceptmap_entries td {
  min-width: 20%;
  max-width: 20%;
}

.conceptmap_table_entry {
  text-align: center;
}
.italic {
  font-style: italic;
}

.conceptmap-js-canvas {
  width: 100%;
  margin: 0 auto;
}

#edit-options {
  padding: 0;
}

#edit-new-relation #edit-options legend span,
#edit-new-relation #edit-options .fieldset-wrapper {
  padding: 0;
}

.node-conceptmap fieldset table,
.node-conceptmap fieldset .form-item {
  margin: 0;
}

#edit-new-relation #edit-options legend span,
#conceptmap-entry-form-wrapper #edit-options legend span {
  display: block;
  position: relative;
  padding: 0.1em;
}

#conceptmap-entry-form-wrapper,
#edit-new-relation,
#edit-visibility {
  display: block;
}

#conceptmap-entry-form-wrapper .form-item,
#edit-new-relation .form-item {
  margin: 0.05em;
  display: inline-block;
}

#edit-options .form-item {
  margin: 0.25em;
}

#edit-options {
  display: block;
}

#conceptmap-entry-form-wrapper .form-actions,
#edit-new-relation .form-actions {
  display: inline-block;
}

#edit-options .fieldset-legend {
  background-image: none;
}
